<div>
  <div>Buy This!</div>
  <img src="http://placehold.it/210x240&text=[ad]" />
</div>
<br />
<div>
  <div>Also Buy This!</div>
  <img src="http://placehold.it/210x240&text=[ad]" />
</div>
<br />
<div>
  <div>Don't forget about this This!</div>
  <img src="http://placehold.it/210x240&text=[ad]" />
</div>