<div>
  <h5><i class="fa fa-tags"></i> Buy This!</h5>
  <img src="http://placehold.it/210x240&text=[ad]" />
</div>
<br />
<div>
  <h5><i class="fa fa-tags"></i> Also Buy This!</h5>
  <img src="http://placehold.it/210x240&text=[ad]" />
</div>
<br />
<div>
  <h5><i class="fa fa-tags"></i> Don't forget about this!</h5>
  <img src="http://placehold.it/210x240&text=[ad]" />
</div>