<h1><i class="fa fa-rss-square"></i> The Repo Feeder</h1>
<p>
  <i class="fa fa-github"></i><a href="http://github.com/<%= params[:username] %>/<%= params[:reponame] %>" target="_blank">
    <%= params[:username] %> / <%= params[:reponame] %>
  </a>
</p>